.comments {
  background-color: $brownish-grey;
  color: $color-white;

}

.comments__wrapper {
  padding-left: 10px;
  padding-right: 28px;
  padding-top: 32px;
  padding-bottom: 27px;
  position: relative;
}

.comments__title {
  font-size: 24px;
  line-height: 1;
}

.comments__item-title {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 20px;
  margin-top: 16px;
}

.comments__item-text {
  font-style: italic;
  margin-top: 7px;
  line-height: 1.27;
  margin-bottom: 8px;
}

.comments__item-reed-more {
  letter-spacing: 0.4px;
  text-transform: uppercase;
  font-size: 6px;
  font-family: "PT Sans", "Arial", sans-serif;
  color: $color-white;
  text-align: right;
  display: block;
  position: relative;
  padding-top: 31px;

  &:before {
    position: absolute;
    top: 0;
    right: 0;
    width: 2px;
    height: 23px;
    background-color: $color-red;
    display: block;
    content: '';
  }
}

.comments__arrow-right {
  position: absolute;
  right: 3%;
  top: 29%;
}
.comments__arrow-left{
  display: none;
}

@media (min-width: 768px) {
  .comments__wrapper {
    max-width: 768px;
    padding-left: 88px;
    padding-right: 32px;
    margin: auto;
  }
  .comments__item {
    padding-left: 120px;
    padding-right: 128px;
  }
  .comments__item-title {
    width: 80%;
  }
  .comments__arrow-right {
    right: 4%;
    top: 31%;
  }

  .comments__arrow-left{
    position: absolute;
    display: block;
    left: 4%;
    top: 31%;
  }
}

@media (min-width: 1024px) {
  .comments__wrapper {
    max-width: 1024px;
    padding-left: 120px;
    padding-right: 120px;
  }
  .comments__item-title {
    width: 60%;
    margin-top: 18px;
  }
  .comments__item-text,
  .comments__item-reed-more{
    width: 70%;
  }
  .comments__arrow-right {
    right: 11%;
  }
}
