.footer-nav {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 200px;
  align-content: space-between;
  width: 100%;
  font-family: "PT Sans", "Arial", sans-serif;
}

.footer-nav__section-title {
  text-transform: uppercase;
  padding-bottom: 10px;
  font-size: 17px;
}

.footer-nav__section-item {
  padding-left: 13px;
  position: relative;

  &:before {
    width: 6px;
    height: 1px;
    background-color: $color-red;
    top: 10px;
    left: 0;
    position: absolute;
    display: block;
    content: '';
    opacity: .6;
  }
}

.footer-nav__section-link {
  color: #b0afaf;
  font-size: 12px;
  line-height: 1.67;
}

.footer-nav__section {
  padding-bottom: 14px;
}

.footer-nav__contacts__mail,
.footer-nav__contacts__phone {
  color: #b0afaf;
  line-height: 1.67;
  font-size: 12px;
  font-family: "PT Sans", "Arial", sans-serif;
}
.footer-nav__contacts__mail{
  display: block;
  padding-top: 10px;
}

@media (min-width: 768px) {
  .footer-nav {
    order: 1;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 65px;
  }
}
